

                .community {
                    margin-top: 150px;
                    border-top: 20px solid #000;
                    border-bottom: 20px solid #000;
                    font-family: Rockwell, serif;
                }
                
                .container{
                    margin-bottom: 20px;
                }
                
                .proButton {
                    float: right;
                    margin-bottom: 10px;
                    border-style: solid;
                    border: #000;
                    background-color: #DC143C;
                    color: white;
                }
                
                .comment {
                    border: 1px solid grey;
                    background-color: #eeeeee;
                    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
                    margin-top: 100px;
                }