    
    
    .home {
        border: 1px solid grey;
    }
    
      .comment {
        margin-bottom: 20px;
        margin-top:150px;    
    }
    
  
    
    .page {
         padding-top: 100px; 
    }
    
    .delete {
        float: right;
        margin-right: 10px;
        margin-bottom: 10px;
        border: #DC143C;
        background-color: #DC143C;
        color: white;
    }
    
    
    
    .goals {
        margin-top: 10px;
    }
    
    .words {
        font-family: Rockwell, serif;
    }
    
  