    
    
    .home {
        border: 1px solid;
    }
    
  
  
    
    .page {
         padding-top: 100px; 
    }
    
    .delete {
        float: right;
        margin-right: 10px;
        margin-bottom: 10px;
       
    }
    
    
    
    .goals {
        margin-top: 10px;
    }
    
   